 body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;

}
.row{
  display: flex;
}
.column{
  margin: 10px;
  flex: 50%;
}
#inputFields{
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding-right: 750px;
  padding-left: 10px;
}
input{
line-height: 2.3;
}
p{
  text-align: right;
}
button{


}
